.ribbon {
 font-size: 32px !important;
 /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
 box-shadow: 0px 10px 20px rgba(0,0,0,.1);

 //width: 50%;
 width: 76%;
 position: relative;
 //background: #ba89b6;
 //background: mistyrose;
 background: pink;
 color: #fff;
 text-align: center;
 padding: .4em .4em; /* Adjust to suit */
 margin: 1em auto 1.5em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */

&::before, &::after {
 content: "";
 position: absolute;
 display: block;
 bottom: -1em;
 //border: 1.5em solid pink;//#986794;
 border: 1.5em solid #fdd8de;//mistyrose;
 z-index: -1;
}
&::before {
 left: -2em;
 border-right-width: 1.5em;
 border-left-color: transparent;
 box-shadow: 10px 10px 10px rgba(0,0,0,.05);
}
&::after {
 right: -2em;
 border-left-width: 1.5em;
 border-right-color: transparent;
 box-shadow: -10px 10px 10px rgba(0,0,0,.05);
}
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 content: "";
 position: absolute;
 display: block;
 border-style: solid;
 //border-color: #804f7c transparent transparent transparent;
 border-color: palevioletred transparent transparent transparent;
 bottom: -1em;
}
.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

@media (max-width: 450px) {

  .ribbon {
    width: 300px !important;
    margin: .5rem auto 1.5rem;
    //padding: 1rem;
    &::after,&::before {
      background: none;
      border: none;
      }

      &::before {
        //top:-60px;
        //content: " ";
        //display:block;
        //position: relative;
        //width: 100%;
        //height:30px;
        //background: linear-gradient(-135deg, transparent 75%, pink 75%) 0 50%,
        //            linear-gradient( 135deg, transparent 75%, pink 75%) 0 50%;
        //background-repeat: repeat-x;
        //background-size:30px 30px, 30px 30px;
        top: -2rem !important;
        left: 0px !important;
        //display: block;
        //position: relative;
        width: 100%;
        height: 2rem;
        background: linear-gradient(-135deg, transparent 75%, pink 75%) 0 50%, linear-gradient(135deg, transparent 75%, pink 75%) 0 50%;
        background-repeat: repeat-x;
        background-size: 2.3rem 2rem;
      }

    #taper{
      height: 0;
    }

    .inset {
//      border: 3px white dashed;
//      margin: 1rem 0.3rem;
//      padding: 1rem .3rem;
//      border-bottom: none;


border: 3px white dashed;
margin: 1rem 0.3rem;
padding: 1rem .3rem;
border-bottom: none;
margin-bottom: -.6rem;

    }

    #taper .inset{

margin-bottom: -1rem;
width: 9rem;
height: 8rem;
background: palevioletred;
position: relative;
margin-left: auto;
margin-right: auto;
bottom: 95px;
transform: rotate(45deg);
z-index: -1;
//z-index: -1;

        //  border: 3px white dashed;
        //  border-top: none;
        //  border-left: none;
        //  transform: rotate(45deg);
        //  top: 6rem;
        //  position: relative;

      //transform: rotateZ(45deg);
      //z-index: 0 !important;
      //width: 100%;
      //height: 0%;
      //left: -50%;

//transform: rotateZ(45deg);
//z-index: 0 !important;
//width: 75%;
//height: 75%;
//left: 8%;
//position: relative;
//background: pink;

      &::after{
        //content:"trololol";
      }
    }

    .ribbon-content {
      &::after,&::before {
        background: none;
        border: none;
      }
      #insult {
        font-size: 4rem !important;
        margin: 0;
        padding: 0;
      }
    }
  }

}

//  .ribbon {
//      width: 150px;
//
//
//
//  font-size: 16px !important;
//   /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */
//   box-shadow: 0 0 0 0;
//
//   //width: 50%;
//   width: auto;
//   position: relative;
//   //background: #ba89b6;
//   //background: mistyrose;
//   background: pink;
//   color: #fff;
//   text-align: center;
//   padding: 0;
//   margin: 0;
//
//  &::before, &::after {
//   content: "";
//   position: relative;
//   display: block;
//   bottom: 0;
//   //border: 1.5em solid pink;//#986794;
//   border: none;
//   z-index: 0;
//  }
//
//  .ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
//   content: "";
//   position: absolute;
//   display: block;
//   border: none;
//   bottom: 0;
//  }
//  .ribbon .ribbon-content:before {
//   left: 0;
//   border:none;
//  }
//  .ribbon .ribbon-content:after {
//   right: 0;
//   border: none;
//  }
//
//
//
//  }
//  .ribbon .ribbon-content {
//      position: relative;
//      width: 100px;
//      height: 150px;
//      margin-left: auto;
//      margin-right: auto;
//      background: palevioletred;
//  /*    box-shadow: inset 0px 15px 10px -10px rgba(0, 0, 0, 0.3), 5px 0px 5px -5px rgba(0, 0, 0, 0.3), -5px 0px 5px -5px rgba(0, 0, 0, 0.3);
//      -moz-box-shadow: inset 0px 15px 10px -10px rgba(0, 0, 0, 0.3), 5px 0px 5px -5px rgba(0, 0, 0, 0.3), -5px 0px 5px -5px rgba(0, 0, 0, 0.3);
//      -webkit-box-shadow: inset 0px 15px 10px -10px rgba(0, 0, 0, 0.3), 5px 0px 5px -5px rgba(0, 0, 0, 0.3), -5px 0px 5px -5px rgba(0, 0, 0, 0.3);*/
//  }
//  .ribbon .ribbon-content .inset {
//      position: relative;
//      margin-left: auto;
//      margin-right: auto;
//      width: 70px;
//      height: 150px;
//      background: pink;
//  /*    box-shadow: inset 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
//      -moz-box-shadow: inset 0px 15px 10px -10px rgba(0, 0, 0, 0.3);
//      -webkit-box-shadow: inset 0px 15px 10px -10px rgba(0, 0, 0, 0.3);*/
//  }
//  .ribbon .ribbon-content:after {
//      content:'';
//      position: absolute;
//      top: 0px;
//      left: 6px;
//      width: 86px;
//      height: 155px;
//      /*border-left: 1px dashed whitesmoke;
//      border-right: 1px dashed whitesmoke;*/
//  }
//  .ribbon-content:before {
//      content:'';
//      position: absolute;
//      top: 0px;
//      left: 7px;
//      width: 86px;
//      height: 155px;
//      /*border-left: 1px dashed whitesmoke;
//      border-right: 1px dashed whitesmoke;*/
//  }
//  .ribbon .taper {
//      width: 70px;
//      height: 70px;
//      background: palevioletred;
//      position: relative;
//      margin-left: auto;
//      margin-right: auto;
//      bottom: 35px;
//      -webkit-transform: rotate(45deg);
//      transform: rotate(45deg);
//      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
//      -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
//      -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
//      z-index: -1;
//  }
//  .ribbon .taper .inset {
//      width: 50px;
//      height: 50px;
//      top: 10px;
//      left: 10px;
//      background: pink;
//      position: relative;
//      margin: 0;
//  }
//
//}
//
